
.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color:#feeae9;
    border-radius: 8px;
}
.carousel-item{

   padding: 20px 40px;
}
.price{
color: #FF136F;
}
.bay-now-button{
background-image: linear-gradient(to bottom, #ff589B 0%, #ff136f 100%);
    border: none;
    border-radius: 8px;

    color: #fff;
    padding:9xp 25px;
    cursor: pointer;
}